* text=auto
*.ps1 text eol=crlf whitespace=trailing-space,space-before-tab,cr-at-eol
*.psd1 text eol=crlf whitespace=trailing-space,space-before-tab,cr-at-eol
*.cmd text eol=crlf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
VERSION text eol=lf
/.dev/modules/Pester/5.6.1/** -text -diff
